.footer-container {
  background-color: #091f30;
  color: #fff;
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.icons-footer a {
  text-decoration: none;
  color: #fff;
}
