.carousel-caption-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel-caption-2 > * {
  margin: 0;
}

.carousel-item img {
  max-height: 80vh;
  object-fit: cover;
  width: 100%;
}

.container-template-services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.template-services {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  margin-left: 1%;
}

.line {
  border: 1px solid #eaebec;
  margin: 5px;
}

.title-template {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #777677;
}

.text-template {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: #777677;
}

.separator-span {
  width: 200px;
  height: 3px;
  background-color: #e80a08;
  margin-bottom: 10px;
}

.template-services-content {
  flex-grow: 1;
}

.custom-btn {
  color: #fff;
  border-radius: 0;
}
