* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

/*TOP NAVBAR */

.top-navbar {
  width: 100%;
  background-color: #091f30;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

.top-navbar .row {
  margin-right: 0;
  margin-left: 0;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.top-navbar .right-container {
  padding-right: 10px;
  padding-left: 10px;
}

.left-container a {
  color: #fff;
  text-decoration: none;
}
.right-container a {
  margin-right: 33%;
}

/* NAVBAR */

.navbar {
  padding: 10px;
  background-color: #f8f9fa;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navbar-brand {
  height: 135px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  color: #000;
}

.nav-link {
  text-decoration: none;
  color: #000 !important;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.custom-toggler {
  border: none;
  box-shadow: none !important;
  background-color: transparent;
  outline: none !important;
  margin-right: 0px;
}

.custom-toggler:active {
  background-color: transparent;
}

/* TEMPLATE CAROUSEL */

.carousel-caption-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel-caption-2 > * {
  margin: 0;
}

.text-details {
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
}

/* BUTTONS DETAILS */

.dropdown-container {
  position: absolute;
  width: 73.9%;
  height: auto;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.dropdown-container-1 {
  width: 75%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.dropdown-container-1 a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.button-transport {
  width: 100%;
  background-color: #bac1c7;
  color: #000;
  border-color: #bac1c7;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-transport.active {
  border: none;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: #f0f0f0 !important;
}

.button-transport:not(.active) {
  background-color: #bac1c7;
}

/* About Us */

.parallax-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.parallax-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url("../src//Images/truck-1.png") center/cover no-repeat fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-white {
  margin-left: 50px;
  text-transform: uppercase;
}

.text-container {
  opacity: 1;
  transition: opacity 5s ease-in-out;
  left: 10%;
  top: 10%;
  width: 80%;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.slide-in-animation {
  opacity: 1;
  transform: translateX(0);
  animation: slideIn 5s ease-in-out;
}

.text-about {
  font-size: 17px;
  text-indent: 25px;
  line-height: 1.7;
  text-align: justify;
  color: #fff;
}

/* SERVICES */

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.line-footer {
  width: 100%;
  border: 1px solid #7b8693;
  margin: 1%;
}

.copyrights {
  margin: 0;
  text-align: center;
  color: #7b8693;
}

/* CONTACT */

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.secound-container {
  color: #fff;
}

.left-container-contact {
  background-color: #091f30;
  color: #fff;
  text-align: left;
  padding: 20px;
  justify-content: center;
}

.right-container-contact {
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #0869fd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 680px) {
  .top-navbar {
    display: none;
  }
  .text-white {
    font-size: 16px;
  }
  .text-container {
    left: -10%;
    top: 50%;
  }

  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-info,
  .contact-form {
    width: 100%;
    margin-left: 0;
  }
}

.mobile .col-12 {
  width: 100%;
}

.mobile .dropdown-container {
  width: 100%;
  left: 0;
  margin: 5px;
  transform: none;
}

.mobile .dropdown-container-1 {
  width: 90%;
  margin: 5px;
  height: auto;
  margin-right: 7px;
}
